/***** menu header ******/

header {
  top: 0;
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: var(--color-pink);
  box-shadow: 0 10px 10px rgba(142, 142, 142, 0.1);
}

.logo img {
  width: 70px;
  height: auto;
  margin-left: 15px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0.5rem 1.5rem;
  gap: 50px;
}

nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* menu text*/

.menu li {
  margin: 0 15px;
  align-self: center;
  font-size: 1.2rem;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: var(--color-white);
  text-decoration: none;
  transition: color 0.3s;
  text-align: center;
}

.menu a:hover {
  color: var(--color-morkrod);
}

/******* Burger menu *****/
.burger {
  appearance: none;
  -webkit-appearance: none;
  background: none;
  border: none;
  padding: 0;

  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-white);
  margin-bottom: 5px;
  transition: 0.2s linear;
}

.burger {
  display: none;
}

@media screen and (max-width: 850px) {
  .menu {
    display: none;
  }

  .logo {
    flex: 0 0 50vw;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
    flex: 0 0 auto;
    margin: 0 20px;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }
  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }
  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }
  nav.active .menu {
    display: block;
    background-color: var(--color-pink);
    position: absolute;
    top: 3.6rem;
    right: 0;
    width: clamp(200px, 50vw, 400px);
    z-index: 1;
    opacity: 0.8;
  }
  header > nav li > a:after {
    content: "";
  }
  nav.active .menu li {
    margin: 40px 20px;
    text-align: right;
  }
  nav.active .menu a {
    font-size: 24px;
  }

  nav {
    position: static;
    transform: none;
    margin-left: auto;
  }
}
