/****** dialog bokse styling *****/
dialog {
  background-color: var(--color-pink);
  padding: 2rem;
  width: 450px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

dialog div {
  max-width: 350px;
  margin-bottom: 7rem;
  justify-self: center;
}

dialog p {
  margin-bottom: -3rem;
}

dialog img {
  margin-bottom: 1.5rem;
}

.last {
  margin-bottom: -6rem;
}

.last_div {
  margin-bottom: -1rem;
}

.slut {
  margin-bottom: 0rem;
}

.h3_img2 img,
.slut img {
  margin-top: 0rem;
}

.h3_img3 img {
  margin: 0.5rem 0 3rem;
}
.h3_img3 p {
  margin-bottom: 1rem;
}

.h3_p {
  margin-bottom: 4rem;
}

.kun_tekst p {
  margin-bottom: 0rem;
}

.kun_tekst h3 {
  margin-top: 1.5rem;
}

.mellemrum {
  margin-top: 5rem;
}

::backdrop {
  backdrop-filter: blur(5px);
}

/***** Animationer til dialog ******/
/* SPIN-IN animation */
.spinIn {
  animation: spinIn 0.6s ease-out forwards;
}

@keyframes spinIn {
  from {
    transform: translate(-50%, -50%) rotate(-360deg) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    opacity: 1;
  }
}
