/****** dialog bokse styling *****/
dialog {
  background-color: var(--color-pink);
  padding: 2rem;
  width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
}

::backdrop {
  backdrop-filter: blur(5px);
}

/***** Animationer til dialog ******/
/* SPIN-IN animation */
.spinIn {
  animation: spinIn 0.6s ease-out forwards;
}

@keyframes spinIn {
  from {
    transform: translate(-50%, -50%) rotate(-360deg) scale(0);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
    opacity: 1;
  }
}
