/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* FARVER */
:root {
  --color-morkrod: #670626;
  --color-rod: #c74e51;
  --color-orange: #f99256;
  --color-pink: #ffbdc5;
  --color-beige: #fffbed;
  --color-blue: #5e7b9b;
  --color-black: #000;
  --color-white: #fff;
}

/* FONTE & tekst størrelse */
h1 {
  font-family: "Zen Old Mincho", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  color: var(--color-pink);
}

.h1_rod {
  color: var(--color-morkrod);
}

.h1_footer {
  color: var(--color-morkrod);
  font-size: 40px;
}

h2 {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
}

.forside_h2 {
  color: var(--color-beige);
  font-size: 28px;
}

h3 {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

h4 {
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

p {
  font-family: "Jost", sans-serif;

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
}

.om_2 li {
  font-family: "Jost", sans-serif;

  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 3;
}

.menu li {
  font-family: "Jost", sans-serif;

  font-weight: 500;
  font-style: normal;
}

@media (min-width: 850px) {
  h1 {
    font-size: 100px;
  }

  .h1_footer {
    font-size: 70px;
  }

  .h1_rod {
    color: var(--color-morkrod);
    font-size: 80px;
  }

  h2 {
    font-size: 64px;
  }

  .forside_h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 36px;
  }

  h4 {
    font-size: 27px;
  }

  p {
    font-size: 16px;
  }
}

/**** KNAP ****/
.knap {
  background-color: var(--color-blue);
  font-family: "Sue Ellen Francisco", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--color-beige);
  border: none;
  padding: 1px 20px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px gray;
  cursor: pointer;
}

.knap:hover {
  background-color: #40566c;
}
